.logo {
  display: inline-flex;
  padding: 2px 10px;
  background-color: blueviolet;
  border-radius: 15px;
  align-items: center;
  height: 40px;
  cursor: pointer;
}
.logo-text {
  color: white;
  font-weight: bold;
  font-size: 25px;
}
